<!DOCTYPE html>
<html ng-app="BakDigestWebUIApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript"
            src="/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="/js/backup.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>
</head>
<body>
<tabset>

    <tab heading="Backups" ng-controller="BackupsController">

        <div class="row col-xs-10 col-xs-offset-1">

            <h2>Current backups</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Periodicity</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="backup in backups">
                    <td>{{$index + 1}}</td>
                    <td>{{backup.name}}</td>
                    <td>{{backup.frequency}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="remove(backup.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <h2>Add a new backup</h2>

            <form role="form">

                <fieldset>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="name" class="form-control" placeholder="Enter backup name">
                    </div>

                    <div class="form-group">
                        <label for="frequency">Backup periodicity</label>
                        <input id="frequency" type="number" ng-model="frequency" class="form-control" placeholder="Enter backup periodicity">
                    </div>

                    <button class="btn btn-primary" ng-click="save()">Save</button>

                </fieldset>

            </form>

        </div>

    </tab>

    <tab heading="Digests" ng-controller="DigestsController">

        <div class="row col-xs-10 col-xs-offset-1">

            <h2>Current digests</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Email address</th>
                    <th>Last delivery</th>
                    <th>Periodicity</th>
                    <th>Backups</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="digest in digests">
                    <td>{{$index + 1}}</td>
                    <td>{{digest.email}}</td>
                    <td>{{digest.last_delivery | date:"yyyy-MM-dd"}}</td>
                    <td>{{digest.periodicity}}</td>
                    <td>
                        <div ng-repeat="backup in digest.backups">
                            {{backup.name}}
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="remove(digest.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <h2>Add a new digest</h2>

            <form role="form">

                <fieldset>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" type="email" class="form-control" ng-model="email" placeholder="Enter email">
                    </div>

                    <div class="form-group">
                        <label for="start_date">Start date</label>

                        <div class="input-group">

                            <input
                                    id="start_date"
                                    class="form-control"
                                    type="text"
                                    ng-model="start_date"
                                    is-open="opened"
                                    datepicker-popup="yyyy-MM-dd"
                                    placeholder="Choose a start date"
                                    >

                            <span class="input-group-btn">

                                <button
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="open($event)">

                                    <i class="fa fa-calendar"></i>

                                </button>

                            </span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="periodicity">Periodicity</label>
                        <input id="periodicity" type="number" ng-model="periodicity" class="form-control"
                               placeholder="Enter the periodicity">
                    </div>

                    <div class="form-group">
                        <label>Backups</label>

                        <div class="checkbox" ng-repeat="backup in backups">
                            <label>
                                <input
                                        type="checkbox"
                                        name="backup_ids"
                                        value="{{backup.id}}"
                                        ng-model="backup_ids"
                                        ng-click="toggleSelection(backup.id)"
                                        > {{backup.name}}
                            </label>
                        </div>
                    </div>

                    <button ng-click="save()" class="btn btn-default btn-primary">Save</button>

                </fieldset>

            </form>

        </div>

    </tab>

</tabset>
</body>
</html>