<!DOCTYPE html>
<html ng-app="BakDigestWebUIApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript"
            src="/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="/js/backup.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<tabset>

    <tab heading="Backups" ng-controller="BackupsController">

        <ul>
            <li ng-repeat="backup in backups">
                {{backup.name}}
                <button ng-click="remove(backup.id)">Delete</button>
            </li>
        </ul>

        <form>
            <label for="name">
                Backup name:
                <input id="name" type="text" ng-model="name">
            </label>
            <label for="frequency">
                Backup frequency:
                <input id="frequency" type="text" ng-model="frequency">
            </label>

            <button ng-click="save()">Save</button>
        </form>
    </tab>

    <tab heading="Digests" ng-controller="DigestsController">

        <ul>
            <li ng-repeat="digest in digests">
                {{digest.email}}
                <button ng-click="remove(digest.id)">Delete</button>
            </li>
        </ul>

        <form>

            <label for="email">
                e-mail:
                <input id="email" type="text" ng-model="email">
            </label>

            <label for="start_date">
                Start date:
                <input id="start_date" type="text" ng-model="start_date">
            </label>

            <label for="periodicity">
                Periodicity:
                <input id="periodicity" type="text" ng-model="periodicity">
            </label>

            <label for="backups">
                Backups:
                <div ng-repeat="backup in backups">
                    <input
                            type="checkbox"
                            name="backup_ids"
                            value="{{backup.id}}"
                            ng-model="backup_ids"
                            ng-click="toggleSelection(backup.id)"
                            > {{backup.name}}
                </div>
            </label>

            <button ng-click="save()">Save</button>

        </form>

    </tab>

</tabset>
</body>
</html>